# standard javascript
node_modules/

# media files
downloads/

# config
config.json

# log file
logs/pointsLog.txt
logs/toylog.txt
logs/systemLog.txt
logs/downloadLog.txt


# user data
userPoints.json
userCollection.json
collectionData.json